.node-red/flows.json
[
    {
        "id": "7b5c383c.6ee838",
        "type": "tab",
        "label": "Facebook",
        "disabled": true,
        "info": ""
    },
    {
        "id": "d19cf760.bd6cb8",
        "type": "tab",
        "label": "BotManager",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c98236e.5506f48",
        "type": "tab",
        "label": "Authorization",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8a388af6.ed8818",
        "type": "tab",
        "label": "User Manager",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e86d483.316fbb8",
        "type": "tab",
        "label": "template",
        "disabled": false,
        "info": ""
    },
    {
        "id": "31c525f6.432eca",
        "type": "tab",
        "label": "User Interface",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e6b7e252.8a43c8",
        "type": "subflow",
        "name": "BSaveUser",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "57c1c177.eaf498",
        "type": "subflow",
        "name": "GetTokenFacebook",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "7046648e.4d4594"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 389,
                "y": 35,
                "wires": [
                    {
                        "id": "fd5c12c3.0f66",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "967eef92.deb588",
        "type": "subflow",
        "name": "ASaveUser",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "84ebe3c1.2fa8d",
        "type": "subflow",
        "name": "ParseCreateRole",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ]
    },
    {
        "id": "83a76750.788928",
        "type": "subflow",
        "name": "UserAddRole",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "2452c319.784b0c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ]
    },
    {
        "id": "69ed8123.1e1f88",
        "type": "subflow",
        "name": "ParseRole",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "d8834bbd.aceff"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 528,
                "y": 208,
                "wires": [
                    {
                        "id": "7643c9ca.a6bd58",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "2c25c2c5.d3b826",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Meu",
                "default": "#4B7930",
                "baseColor": "#aa0040",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Nabot",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "96c9e79d.09e76",
        "type": "ui_group",
        "z": "",
        "name": "banner",
        "tab": "b8d78c76.bb96d8",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b8d78c76.bb96d8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "home"
    },
    {
        "id": "3d728259.ce2e5e",
        "type": "ui_tab",
        "z": "",
        "name": "menu",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "44a4c8fd.7b7b68",
        "type": "http in",
        "z": "7b5c383c.6ee838",
        "name": "",
        "url": "/connect",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 99,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2fd505ef.a11772",
        "type": "http in",
        "z": "7b5c383c.6ee838",
        "name": "Facebook Page Connect",
        "url": "/facebook/page/connect",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 115,
        "y": 216,
        "wires": [
            [
                "ca1913c7.37c77"
            ]
        ]
    },
    {
        "id": "aed06f63.2a88b",
        "type": "comment",
        "z": "7b5c383c.6ee838",
        "name": "conectando a pagina do facebook com o chatbot",
        "info": "",
        "x": 187,
        "y": 180,
        "wires": []
    },
    {
        "id": "ca1913c7.37c77",
        "type": "debug",
        "z": "7b5c383c.6ee838",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 441,
        "y": 216,
        "wires": []
    },
    {
        "id": "f2589218.618a4",
        "type": "inject",
        "z": "7b5c383c.6ee838",
        "name": "",
        "topic": "1468687470058888",
        "payload": "APP_ID",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 129,
        "wires": [
            []
        ]
    },
    {
        "id": "3918b3aa.b2e4cc",
        "type": "subflow:e6b7e252.8a43c8",
        "z": "8a388af6.ed8818",
        "name": "",
        "x": 72,
        "y": 143,
        "wires": []
    },
    {
        "id": "e60a82a1.38f1d",
        "type": "http in",
        "z": "e6b7e252.8a43c8",
        "name": "",
        "url": "/beforeSaveUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 129,
        "y": 62,
        "wires": [
            [
                "4eb83540.906dcc",
                "f6d4960a.b716e"
            ]
        ]
    },
    {
        "id": "4eb83540.906dcc",
        "type": "debug",
        "z": "e6b7e252.8a43c8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 334,
        "y": 101,
        "wires": []
    },
    {
        "id": "c7cc590e.0de7e",
        "type": "function",
        "z": "e6b7e252.8a43c8",
        "name": "",
        "func": "let payload = flow.get(\"payload\")\n    \npayload.object.ACL = {\n    \"*\":{\n            \"read\": false,\n            \"write\": false\n        }\n}\n\nflow.set(\"payload\",payload)\n    \nmsg.url += \"?grant_type=fb_exchange_token\"\nmsg.url += \"&client_id={{global.get('APP_ID')}}\"\nmsg.url += \"&fb_exchange_token={{msg.access_token}}\"\nreturn msg;\n  ",
        "outputs": 1,
        "noerr": 0,
        "x": 121,
        "y": 223,
        "wires": [
            [
                "1ed196fc.93cff9"
            ]
        ]
    },
    {
        "id": "f6d4960a.b716e",
        "type": "change",
        "z": "e6b7e252.8a43c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://graph.facebook.com/v2.6/oauth/access_token",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "res",
                "pt": "flow",
                "to": "res",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 114,
        "y": 122,
        "wires": [
            [
                "c7cc590e.0de7e"
            ]
        ]
    },
    {
        "id": "e8ca45f3.e744f8",
        "type": "http response",
        "z": "e6b7e252.8a43c8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 96,
        "wires": []
    },
    {
        "id": "1ed196fc.93cff9",
        "type": "subflow:57c1c177.eaf498",
        "z": "e6b7e252.8a43c8",
        "name": "",
        "x": 329,
        "y": 176,
        "wires": [
            [
                "e8ca45f3.e744f8"
            ]
        ]
    },
    {
        "id": "7046648e.4d4594",
        "type": "http request",
        "z": "57c1c177.eaf498",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 142,
        "y": 139,
        "wires": [
            [
                "136a598f.70cf76",
                "fd5c12c3.0f66"
            ]
        ]
    },
    {
        "id": "136a598f.70cf76",
        "type": "debug",
        "z": "57c1c177.eaf498",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 229,
        "y": 48,
        "wires": []
    },
    {
        "id": "fd5c12c3.0f66",
        "type": "function",
        "z": "57c1c177.eaf498",
        "name": "",
        "func": "let payload = flow.get(\"payload\")\npayload.object.access = msg.payload\nmsg.payload = {\n    success:payload.object\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 315,
        "y": 123,
        "wires": [
            []
        ]
    },
    {
        "id": "3315eecb.104312",
        "type": "function",
        "z": "83a76750.788928",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 184,
        "wires": [
            [
                "ed52add5.c5aa38"
            ]
        ]
    },
    {
        "id": "2452c319.784b0c",
        "type": "change",
        "z": "83a76750.788928",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 119,
        "y": 101,
        "wires": [
            [
                "3315eecb.104312"
            ]
        ]
    },
    {
        "id": "d8834bbd.aceff",
        "type": "switch",
        "z": "69ed8123.1e1f88",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "get",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "create",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "addUser",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 98,
        "y": 102,
        "wires": [
            [
                "cc01ae83.17c29"
            ],
            [],
            []
        ]
    },
    {
        "id": "7643c9ca.a6bd58",
        "type": "http request",
        "z": "69ed8123.1e1f88",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 401,
        "y": 103,
        "wires": [
            []
        ]
    },
    {
        "id": "fd99b0b1.0a8318",
        "type": "function",
        "z": "69ed8123.1e1f88",
        "name": "",
        "func": "msg.payload = msg.payload.role\nlet where = JSON.stringify({\"name\":msg.payload.name})\nmsg.url += \"roles?where=\"+where\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 295,
        "y": 211,
        "wires": [
            [
                "7643c9ca.a6bd58",
                "ed6405b0.5d9198"
            ]
        ]
    },
    {
        "id": "cc01ae83.17c29",
        "type": "change",
        "z": "69ed8123.1e1f88",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "PARSE_SERVER_URL",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "PARSE_SERVER_HEADERS",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 133,
        "y": 223,
        "wires": [
            [
                "fd99b0b1.0a8318"
            ]
        ]
    },
    {
        "id": "2a666f71.454db",
        "type": "http in",
        "z": "d19cf760.bd6cb8",
        "name": "",
        "url": "/beforeSaveChatBot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 121,
        "y": 74,
        "wires": [
            [
                "a0e226b2.2f8738"
            ]
        ]
    },
    {
        "id": "3e86d47a.2d199c",
        "type": "http response",
        "z": "d19cf760.bd6cb8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 298,
        "y": 204,
        "wires": []
    },
    {
        "id": "3e92c5c0.5230a2",
        "type": "change",
        "z": "d19cf760.bd6cb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{success:true}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 118,
        "y": 238,
        "wires": [
            [
                "3e86d47a.2d199c"
            ]
        ]
    },
    {
        "id": "a0e226b2.2f8738",
        "type": "function",
        "z": "d19cf760.bd6cb8",
        "name": "",
        "func": "let test = \"test\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 126,
        "y": 166,
        "wires": [
            [
                "3e92c5c0.5230a2",
                "33788d2f.aacb4a"
            ]
        ]
    },
    {
        "id": "33788d2f.aacb4a",
        "type": "debug",
        "z": "d19cf760.bd6cb8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 365,
        "y": 123,
        "wires": []
    },
    {
        "id": "2c4169b9.2c513e",
        "type": "inject",
        "z": "8a388af6.ed8818",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 102,
        "y": 42,
        "wires": [
            [
                "bd6c59ef.b7cb4"
            ]
        ]
    },
    {
        "id": "bd6c59ef.b7cb4",
        "type": "change",
        "z": "8a388af6.ed8818",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PARSE_SERVER_HEADERS",
                "pt": "global",
                "to": "{\"X-Parse-Master-Key\":\"04a4f64e959e30bb378076f5b4ae9a2ba2f47ff7\",\"X-Parse-Application-Id\":\"ea6e8b099a2cbdb2f4a51218a84aa35994121450\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "PARSE_SERVER_URL",
                "pt": "global",
                "to": "http://localhost:3088/api/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 292,
        "y": 44,
        "wires": [
            []
        ]
    },
    {
        "id": "e758f2a1.2fa64",
        "type": "subflow:69ed8123.1e1f88",
        "z": "8a388af6.ed8818",
        "name": "",
        "x": 309,
        "y": 271,
        "wires": [
            [
                "edf20ea7.1f06a"
            ]
        ]
    },
    {
        "id": "edf20ea7.1f06a",
        "type": "debug",
        "z": "8a388af6.ed8818",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 315,
        "y": 119,
        "wires": []
    },
    {
        "id": "55d95546.5ba784",
        "type": "inject",
        "z": "8a388af6.ed8818",
        "name": "",
        "topic": "",
        "payload": "{\"action\":\"get\",\"role\":{\"name\":\"user_customer\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 128,
        "y": 266,
        "wires": [
            [
                "e758f2a1.2fa64"
            ]
        ]
    },
    {
        "id": "ed6405b0.5d9198",
        "type": "debug",
        "z": "69ed8123.1e1f88",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 286,
        "wires": []
    },
    {
        "id": "ed52add5.c5aa38",
        "type": "subflow:69ed8123.1e1f88",
        "z": "83a76750.788928",
        "x": 291,
        "y": 237,
        "wires": [
            []
        ]
    },
    {
        "id": "8af06452.9543f",
        "type": "ui_template",
        "z": "e86d483.316fbb8",
        "group": "96c9e79d.09e76",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 96,
        "y": 217,
        "wires": [
            []
        ]
    },
    {
        "id": "bf34090a.3f8e1",
        "type": "ui_gauge",
        "z": "e86d483.316fbb8",
        "name": "",
        "group": "96c9e79d.09e76",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 421,
        "y": 197,
        "wires": []
    },
    {
        "id": "e737c54f.f6d608",
        "type": "template",
        "z": "31c525f6.432eca",
        "name": "home page",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\" class=\"full-height\">\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n    <title>Nabot</title>\n    <!-- Font Awesome -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <!-- Bootstrap core CSS -->\n    <link href=\"/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- Material Design Bootstrap -->\n    <link href=\"/css/mdb.min.css\" rel=\"stylesheet\">\n    <!-- font  -->\n    <link href=\"https://fonts.googleapis.com/css?family=Open+Sans\" rel=\"stylesheet\">\n    <!-- fivicons -->\n    <link rel=\"icon\" type=\"imag/png\" href=\"/img/favicon-32x32.png\" sizes=\"32x32\" />\n    <!-- fivicons -->\n    <link rel=\"icon\" type=\"image/png\" href=\"/img/favicon-16x16.png\" sizes=\"16x16\" />\n</head>\n\n<body class=\"software-lp\">\n\n    <!--Main Navigation-->\n    <header>\n\n        <!--Navbar-->\n        <nav class=\"navbar navbar-expand-lg navbar-dark fixed-top grey scrolling-navbar\">\n            <div class=\"container\">\n                <a class=\"navbar-brand\" href=\"#\">\n                    <img src=\"img/logo1.png\" height=\"50\" alt=\"\">\n                </a>\n                <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarSupportedContent-7\" aria-controls=\"navbarSupportedContent-7\"\n                    aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n                    <span class=\"navbar-toggler-icon\"></span>\n                </button>\n                <div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent-7\">\n                    <ul class=\"navbar-nav mr-auto ml-5\">\n                        <!-- <li class=\"nav-item\">\n                            <a class=\"nav-link waves-effect waves-light\"><i class=\"fa fa-twitter\"></i></a>\n                        </li>\n                        <li class=\"nav-item\">\n                            <a class=\"nav-link waves-effect waves-light\"><i class=\"fa fa-google-plus\"></i></a>\n                        </li>\n                        <li class=\"nav-item\">\n                            <a class=\"nav-link waves-effect waves-light\"><i class=\"fa fa-facebook\"></i></a>\n                        </li> -->\n                    </ul>\n                    <ul class=\"navbar-nav ml-auto nav-flex-icons\">\n                        <li class=\"nav-item active mr-4 mt-3\">\n                            <a class=\"nav-link waves-effect text-uppercase\" href=\"#\">Como funciona <span class=\"sr-only\">(current)</span></a>\n                        </li>\n                        <li class=\"nav-item mr-4 mt-3\">\n                            <a class=\"nav-link waves-effect text-uppercase\" href=\"#\">Preços</a>\n                        </li>\n                        <li class=\"nav-item mr-4 mt-3\">\n                            <a class=\"nav-link waves-effect text-uppercase\" href=\"#\">Integrações</a>\n                        </li>\n                        \n                        <li class=\"nav-item mr-4 mt-3\">\n                            <a class=\"nav-link waves-effect text-uppercase blue-text\" href=\"#\">Login</a>\n                        </li>\n                        <li class=\"nav-item mr-4 mt-1\">\n                            <a class=\"nav-link text-uppercase btn btn-outline-primary waves-effect\" href=\"#\">Cadastre-se grátis</a>\n                        </li>\n\n                    </ul>\n                </div>\n            </div>\n        </nav>\n        \n\n        <section class=\"view intro-2\" style=\"background-color: white;\">\n            <div class=\"full-bg-img\">\n                <div class=\"mask\">\n                    <div class=\"container flex-center\">\n                        <div class=\"row flex-center pt-5 mt-5\">\n                            <div class=\"col-md-12 col-lg-6 text-center text-md-left margins\" style=\"top: 0px;\">\n                                <div class=\"dark-grey-text\">\n                                    <h1 class=\"display-4 title mt-md-5 mt-lg-0 fontPrincipal wow fadeIn\" data-wow-delay=\"0.3s\" style=\"visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;\">\n                                        {{payload}}    \n                                    </h1>\n                                    <hr class=\"hr-light wow fadeIn\" data-wow-delay=\"0.3s\" style=\"visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;\">\n                                    <div class=\"grey-text wow fadeIn apoio-top\" data-wow-delay=\"0.3s\" style=\"visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;\">Conheça o Nabot: uma plataforma completa para construir e promover um chatbot eficiente sem precisar criar código!\n                                    </div>\n                                    <br>\n                                    <a class=\"btn btn-primary btn-rounded white-text font-weight-bold ml-lg-0 wow fadeIn waves-effect waves-light\" data-wow-delay=\"0.3s\" style=\"visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;\">Cadastre-se grátis</a>\n                                </div>\n                            </div>\n\n                            <div class=\"col-md-12 col-lg-6 wow fadeIn\" data-wow-delay=\"0.3s\" style=\"visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;\">\n                                <img src=\"https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png\" alt=\"\" class=\"img-fluid\">\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n\n    </header>\n    <!--Main Navigation-->\n\n    <!--Main content-->\n    <main>\n\n        <!--First container-->\n        <div class=\"container-fluid container1\">\n            <!--Section: Features v.1-->\n            <section id=\"features\" class=\"section container feature-box mb-5 pb-4\">\n\n                <!-- Section heading -->\n                <h2 class=\"text-center title my-5 pt-5 pb-4 white-text wow fadeIn\" data-wow-delay=\"0.2s\" style=\"visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;\">\n                </h2>\n                <!-- Grid row -->\n                <div class=\"row features-small wow fadeIn\" data-wow-delay=\"0.4s\" style=\"visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;\">\n\n                    <!-- Grid column -->\n                    <div class=\"col-lg-6 col-md-12 mb-1 text-center text-md-left\">\n                        <img src=\"https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png\" alt=\"\" class=\"z-depth-0 img-fluid\">\n                    </div>\n                    <!-- Grid column -->\n\n                    <!-- Third column -->\n                    <div class=\"col-lg-6 col-md-12\">\n                        <h2 class=\"display-4 title white-text mt-md-5 mt-lg-0 fontPrincipal wow fadeIn\" data-wow-delay=\"0.3s\" style=\"visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;\">\n                            A forma mais ágil de construir um chatbot    \n                        </h2>\n\n                        <p class=\"text-left title my-5 pb-4 white-text wow fadeIn\" style=\"font-size: 1.2rem;\">Com o bot builder do Nabot, você pode estruturar seu chatbot e colocá-lo no ar em poucos passos. Defina o fluxo, crie o conteúdo da conversa e publique seu bot em vários canais.</p>\n\n                        <!-- Grid row -->\n                        <div class=\"row mb-3\">\n                            <div class=\"col-2\">\n                                <!-- <i class=\"fa fa-line-chart white-text fa-2x\"></i> -->\n                                <img class=\"iconAdd\" src=\"img/hierarchical-structure.svg\" alt=\"\">\n                            </div>\n                            <div class=\"col-10 mb-2\">\n                                <h5 class=\"white-text title\">Fluxo das conversas</h5>\n                            </div>\n                        </div>\n                        <!-- Grid row -->\n\n                        <!-- Grid row -->\n                        <div class=\"row mb-3\">\n                            <div class=\"col-2\">\n                                <!--    <i class=\"fa fa-group white-text fa-2x\"></i> -->\n                                <img class=\"iconAdd\" src=\"img/artificial-intelligence.svg\" alt=\"\">\n                            </div>\n                            <div class=\"col-10 mb-2\">\n                                <h5 class=\"white-text title\">Inteligencia Artificial</h5>\n                            </div>\n                        </div>\n                        <!-- Grid row -->\n\n                        <!-- Grid row -->\n                        <div class=\"row\">\n                            <div class=\"col-2\">\n                                <!-- <i class=\"fa fa-diamond white-text fa-2x\"></i> -->\n                                <img class=\"iconAdd\" src=\"img/network.svg\" alt=\"\">\n                            </div>\n                            <div class=\"col-10 mb-2\">\n                                <h5 class=\"white-text title\">Multiplos Canais</h5>\n                            </div>\n                        </div>\n                        <!-- Grid row -->\n                    </div>\n                    <!-- Third column -->\n                </div>\n                <!-- Grid row -->\n\n            </section>\n            <!--/Section: Features v.1-->\n        </div>\n        <!--First container-->\n\n        <!--Second container-->\n        <div class=\"container-fluid\" style=\"background-color: #f9f9f9\">\n            <div class=\"container py-4\">\n\n                <!--Section: Download-->\n                <section>\n\n                    <!-- First row -->\n                    <div class=\"row my-4 pt-5 wow fadeIn\" data-wow-delay=\"0.4s\">\n\n                        <!-- First column -->\n                        <div class=\"col-lg-7 col-md-12 mb-4 text-center\">\n                            <img src=\"https://mdbootstrap.com/img/Photos/Others/screen.jpg\" alt=\"\" class=\"img-fluid z-depth-2 rounded\">\n                        </div>\n                        <!-- /First column -->\n\n                        <!-- Second column -->\n                        <div class=\"col-lg-5 col-md-12 mb-4 text-left\">\n\n                            <!--Section heading-->\n                            <h2 class=\"mb-3 my-5 dark-grey-text wow fadeIn\" data-wow-delay=\"0.2s\">\n                                Analise e gerencie seu chatbot em equipe\n                            </h2>\n\n                            <p class=\"text-left title my-5 grey-text wow fadeIn\" style=\"font-size: 1.2rem;\">Com o bot builder do Natbot, você pode estruturar seu chatbot e colocá-lo no ar em poucos passos. Defina o fluxo, crie o conteúdo da conversa e publique seu bot em vários canais.</p>\n\n                            <a class=\"btn btn-white btn-rounded blue-text font-weight-bold ml-0 wow fadeIn\" data-wow-delay=\"0.2s\">Saiba mais <i class=\"fa fa-angle-right\" aria-hidden=\"true\"></i></a>\n                            \n                        </div>\n                        <!-- /.Second column -->\n\n                    </div>\n                    <!-- /.First row -->\n\n                </section>\n                <!--/Section: Download-->\n\n            </div>\n        </div>\n        <!--Second container-->\n\n        <!--Third container-->\n        <div class=\"streak streak-md streak-photo\" style=\"background-image:url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg')\">\n            <div class=\"flex-center white-text blue-gradient-mask\">\n                <div class=\"container py-3\">\n\n                    <!--Section: Features v.4-->\n                    <section class=\"section feature-box wow fadeIn\" data-wow-delay=\"0.2s\">\n\n                        <!--Section heading-->\n                        <h1 class=\"py-5 my-5 white-text text-center wow fadeIn\" data-wow-delay=\"0.2s\">\n                            Bot para atender às suas necessidades\n                        </h1>\n\n                        <!--Grid row-->\n                        <div class=\"row features-small mb-5\">\n\n                            <!--Grid column-->\n                            <div class=\"col-md-12 col-lg-4\">\n\n                                <!--Grid row-->\n                                <div class=\"row mb-5\">\n                                    <div class=\"col-3\">\n                                        <a type=\"button\" class=\"btn-floating white btn-lg my-0\"><i class=\"fa fa-tablet blue-text\" aria-hidden=\"true\"></i></a>\n                                    </div>\n                                    <div class=\"col-9\">\n                                        <h4 class=\"font-weight-bold white-text\">Media</h4>\n                                        <p class=\"white-text\" style=\"font-size: 1.2rem;\">\n                                            Seja você um grande editor ou uma pequena agência, nosso conjunto de ferramentas pode tornar a experiência do chatbot do seu público rica e sem atritos.\n                                        </p>\n                                    </div>\n                                </div>\n                                <!--Grid row-->\n\n                                <!--Grid row-->\n                                <div class=\"row mb-5\">\n                                    <div class=\"col-3\">\n                                        <a type=\"button\" class=\"btn-floating white btn-lg my-0\"><i class=\"fa fa-coffee blue-text\" aria-hidden=\"true\"></i></a>\n                                    </div>\n                                    <div class=\"col-9\">\n                                        <h4 class=\"font-weight-bold white-text\">Serviços</h4>\n                                        <p class=\"white-text\" style=\"font-size: 1.2rem;\">Permita que os clientes verifiquem de forma rápida e fácil as opções de restaurantes ou conversem diretamente para fazer uma reserva.</p>\n                                    </div>\n                                </div>\n                                <!--Grid row-->\n\n                            </div>\n                            <!--Grid column-->\n\n                            <!--Grid column-->\n                            <div class=\"col-md-12 col-lg-4 px-5 mb-2 text-center text-md-left flex-center\">\n                                <img src=\"https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new1.png\" alt=\"\" class=\"z-depth-0 img-fluid\">\n                            </div>\n                            <!--Grid column-->\n\n                            <!--Grid column-->\n                            <div class=\"col-md-12 col-lg-4\">\n\n                                <!--Grid row-->\n                                <div class=\"row mb-5\">\n                                    <div class=\"col-3\">\n                                        <a type=\"button\" class=\"btn-floating white btn-lg my-0\"><i class=\"fa fa-suitcase blue-text\" aria-hidden=\"true\"></i></a>\n                                    </div>\n                                    <div class=\"col-9\">\n                                        <h4 class=\"font-weight-bold white-text\">Negócio</h4>\n                                        <p class=\"white-text\" style=\"font-size: 1.2rem;\">Compartilhe informações sobre sua empresa e seus serviços, configure um FAQ e até mesmo permita que os usuários conversem ao vivo com o gerente.</p>\n                                    </div>\n                                </div>\n                                <!--Grid row-->\n\n                                <!--Grid row-->\n                                <div class=\"row mb-5\">\n                                    <div class=\"col-3\">\n                                        <a type=\"button\" class=\"btn-floating white btn-lg my-0\"><i class=\"fa fa-user blue-text\" aria-hidden=\"true\"></i></a>\n                                    </div>\n                                    <div class=\"col-9\">\n                                        <h4 class=\"font-weight-bold white-text\">Avatar pessoal</h4>\n                                        <p class=\"white-text\" style=\"font-size: 1.2rem;\">Automatize as respostas às perguntas mais frequentes, compartilhe informações sobre você ou apresente um portfólio com seu próprio chatbot pessoal.</p>\n                                    </div>\n                                </div>\n                                <!--Grid row-->\n\n                            </div>\n                            <!--Grid column-->\n\n                        </div>\n                        <!--Grid row-->\n\n                    </section>\n                    <!--/Section: Features v.4-->\n                </div>\n            </div>\n        </div>\n        <!--/Third container-->\n\n        <!--/Fourth container-->\n        <div class=\"container\">\n\n            <!--Section: Pricing v.3-->\n            <section class=\"section mt-4 mb-5\">\n\n\n            </section>\n            <!--/Section: Pricing v.3-->\n\n            <hr>\n\n\n            <!--Section: Testimonials v.4-->\n            <section class=\"section text-center pb-4\">\n\n                <!--Section heading-->\n                <h1 class=\"mb-5 my-5 pt-5 text-center dark-grey-text wow fadeIn\" data-wow-delay=\"0.2s\">O que falam nossos clientes sobre nós</h1>\n\n                <div class=\"row\">\n\n                    <!--Carousel Wrapper-->\n                    <div id=\"multi-item-example\" class=\"carousel testimonial-carousel slide carousel-multi-item wow fadeIn\" data-ride=\"carousel\">\n\n                        <!--Controls-->\n                        <div class=\"controls-top\">\n                            <a class=\"btn-floating btn-blue btn-sm\" href=\"#multi-item-example\" data-slide=\"prev\"><i class=\"fa fa-chevron-left\"></i></a>\n                            <a class=\"btn-floating btn-blue btn-sm\" href=\"#multi-item-example\" data-slide=\"next\"><i class=\"fa fa-chevron-right\"></i></a>\n                        </div>\n                        <!--Controls-->\n\n                        <!--Slides-->\n                        <div class=\"carousel-inner\" role=\"listbox\">\n\n                            <!--First slide-->\n                            <div class=\"carousel-item active\">\n                                <!--Grid column-->\n                                <div class=\"col-md-4\">\n\n                                    <div class=\"testimonial\">\n                                        <!--Avatar-->\n                                        <div class=\"avatar mx-auto\">\n                                            <img src=\"https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg\" class=\"rounded-circle img-fluid\">\n                                        </div>\n                                        <!--Content-->\n                                        <h4 class=\"dark-grey-text\">Anna Deynah</h4>\n                                        <h6 class=\"blue-text font-weight-bold\">Web Designer</h6>\n                                        <p><i class=\"fa fa-quote-left\"></i> Lorem ipsum dolor sit amet, consectetur adipisicing\n                                            elit.\n                                        </p>\n\n                                        <!--Review-->\n                                        <div class=\"grey-text\">\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star-half-full\"> </i>\n                                        </div>\n                                    </div>\n\n                                </div>\n                                <!--Grid column-->\n\n                                <!--Grid column-->\n                                <div class=\"col-md-4 clearfix d-none d-md-block\">\n                                    <div class=\"testimonial\">\n                                        <!--Avatar-->\n                                        <div class=\"avatar mx-auto\">\n                                            <img src=\"https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg\" class=\"rounded-circle img-fluid\">\n                                        </div>\n                                        <!--Content-->\n                                        <h4 class=\"dark-grey-text\">John Doe</h4>\n                                        <h6 class=\"blue-text font-weight-bold\">Web Developer</h6>\n                                        <p><i class=\"fa fa-quote-left\"></i> Ut enim ad minima veniam, quis nostrum exercitationem.</p>\n\n                                        <!--Review-->\n                                        <div class=\"grey-text\">\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                        </div>\n                                    </div>\n                                </div>\n                                <!--Grid column-->\n\n                                <!--Grid column-->\n                                <div class=\"col-md-4 clearfix d-none d-md-block\">\n                                    <div class=\"testimonial\">\n                                        <!--Avatar-->\n                                        <div class=\"avatar mx-auto\">\n                                            <img src=\"https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg\" class=\"rounded-circle img-fluid\">\n                                        </div>\n                                        <!--Content-->\n                                        <h4 class=\"dark-grey-text\">Abbey Clark</h4>\n                                        <h6 class=\"blue-text font-weight-bold\">Photographer</h6>\n                                        <p><i class=\"fa fa-quote-left\"></i> Quis autem vel eum iure reprehenderit qui in ea\n                                            voluptate.\n                                        </p>\n\n                                        <!--Review-->\n                                        <div class=\"grey-text\">\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star-o\"> </i>\n                                        </div>\n                                    </div>\n                                </div>\n                                <!--Grid column-->\n\n                            </div>\n                            <!--First slide-->\n\n                            <!--Second slide-->\n                            <div class=\"carousel-item\">\n                                <!--Grid column-->\n                                <div class=\"col-md-4\">\n\n                                    <div class=\"testimonial\">\n                                        <!--Avatar-->\n                                        <div class=\"avatar mx-auto\">\n                                            <img src=\"https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg\" class=\"rounded-circle img-fluid\">\n                                        </div>\n                                        <!--Content-->\n                                        <h4 class=\"dark-grey-text\">Blake Dabney</h4>\n                                        <h6 class=\"blue-text font-weight-bold\">Web Designer</h6>\n                                        <p><i class=\"fa fa-quote-left\"></i> Ut enim ad minima veniam, quis nostrum exercitationem.</p>\n\n                                        <!--Review-->\n                                        <div class=\"grey-text\">\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star-half-full\"> </i>\n                                        </div>\n                                    </div>\n\n                                </div>\n                                <!--Grid column-->\n\n                                <!--Grid column-->\n                                <div class=\"col-md-4 clearfix d-none d-md-block\">\n                                    <div class=\"testimonial\">\n                                        <!--Avatar-->\n                                        <div class=\"avatar mx-auto\">\n                                            <img src=\"https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg\" class=\"rounded-circle img-fluid\">\n                                        </div>\n                                        <!--Content-->\n                                        <h4 class=\"dark-grey-text\">Andrea Clay</h4>\n                                        <h6 class=\"blue-text font-weight-bold\">Front-end developer</h6>\n                                        <p><i class=\"fa fa-quote-left\"></i> Lorem ipsum dolor sit amet, consectetur adipisicing\n                                            elit.\n                                        </p>\n\n                                        <!--Review-->\n                                        <div class=\"grey-text\">\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                        </div>\n                                    </div>\n                                </div>\n                                <!--Grid column-->\n\n                                <!--Grid column-->\n                                <div class=\"col-md-4 clearfix d-none d-md-block\">\n                                    <div class=\"testimonial\">\n                                        <!--Avatar-->\n                                        <div class=\"avatar mx-auto\">\n                                            <img src=\"https://mdbootstrap.com/img/Photos/Avatars/img%20(28).jpg\" class=\"rounded-circle img-fluid\">\n                                        </div>\n                                        <!--Content-->\n                                        <h4 class=\"dark-grey-text\">Cami Gosse</h4>\n                                        <h6 class=\"blue-text font-weight-bold\">Phtographer</h6>\n                                        <p><i class=\"fa fa-quote-left\"></i> At vero eos et accusamus et iusto odio dignissimos.</p>\n\n                                        <!--Review-->\n                                        <div class=\"grey-text\">\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star\"> </i>\n                                            <i class=\"fa fa-star-o\"> </i>\n                                        </div>\n                                    </div>\n                                </div>\n                                <!--Grid column-->\n\n                            </div>\n                            <!--Second slide-->\n\n                        </div>\n                        <!--Slides-->\n\n                    </div>\n                    <!--Carousel Wrapper-->\n\n                </div>\n\n            </section>\n            <!--Section: Testimonials v.4-->\n\n        </div>\n        <!--/Fourth container-->\n\n    </main>\n    <!--Main content-->\n\n\n    <!--Footer-->\n    <footer class=\"page-footer text-center text-md-left blue-grey lighten-5 pt-0\">\n\n        <div style=\"background-color: #5991fb;\">\n            <div class=\"container\">\n                <!--Grid row-->\n                <div class=\"row py-4 d-flex align-items-center\">\n\n                    <!--Grid column-->\n                    <div class=\"col-12 col-md-8 text-left mb-md-0\">\n                        <h6 class=\"mb-0 white-text text-center text-md-left\">\n                            <strong>\n                            Grande marca? Sem tempo? Deixe-nos ajudar a fazer um bot de inteligência artificial para você!\n                            </strong>\n                        </h6>\n                    </div>\n                    <!--Grid column-->\n\n                    <!--Grid column-->\n                    <div class=\"col-12 col-md-4 text-center text-md-right\">\n                        <a class=\"btn btn-outline-white waves-effect white-text\" href=\"#\">Cadastre-se grátis</a>\n                    </div>\n                    <!--Grid column-->\n\n                </div>\n                <!--Grid row-->\n            </div>\n        </div>\n\n        <!--Footer Links-->\n        <div class=\"container mt-5 mb-4 text-center text-md-left\">\n            <div class=\"row mt-3\">\n\n                <!--First column-->\n                <div class=\"col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text\">\n                    <h6 class=\"text-uppercase font-weight-bold\"><strong>Nome Empresa</strong></h6>\n                    <hr class=\"blue mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n                    <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur\n                        adipisicing elit.</p>\n                </div>\n                <!--/.First column-->\n\n                <!--Second column-->\n                <div class=\"col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text\">\n                    <h6 class=\"text-uppercase font-weight-bold\"><strong>Produtos</strong></h6>\n                    <hr class=\"blue mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n                    <p><a href=\"#!\" class=\"dark-grey-text\">MDBootstrap</a></p>\n                    <p><a href=\"#!\" class=\"dark-grey-text\">MDWordPress</a></p>\n                    <p><a href=\"#!\" class=\"dark-grey-text\">BrandFlow</a></p>\n                    <p><a href=\"#!\" class=\"dark-grey-text\">Bootstrap Angular</a></p>\n                </div>\n                <!--/.Second column-->\n\n                <!--Third column-->\n                <div class=\"col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text\">\n                    <h6 class=\"text-uppercase font-weight-bold\"><strong>Links uteis</strong></h6>\n                    <hr class=\"blue mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n                    <p><a href=\"#!\" class=\"dark-grey-text\">Your Account</a></p>\n                    <p><a href=\"#!\" class=\"dark-grey-text\">Become an Affiliate</a></p>\n                    <p><a href=\"#!\" class=\"dark-grey-text\">Shipping Rates</a></p>\n                    <p><a href=\"#!\" class=\"dark-grey-text\">Help</a></p>\n                </div>\n                <!--/.Third column-->\n\n                <!--Fourth column-->\n                <div class=\"col-md-4 col-lg-3 col-xl-3 dark-grey-text\">\n                    <h6 class=\"text-uppercase font-weight-bold\"><strong>Contact</strong></h6>\n                    <hr class=\"blue mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n                    <p><i class=\"fa fa-home mr-3\"></i> ------- </p>\n                    <p><i class=\"fa fa-envelope mr-3\"></i> info@example.com</p>\n                    <p><i class=\"fa fa-phone mr-3\"></i> + 01 234 567 88</p>\n                    <p><i class=\"fa fa-print mr-3\"></i> + 01 234 567 89</p>\n                </div>\n                <!--/.Fourth column-->\n\n            </div>\n        </div>\n        <!--/.Footer Links-->\n\n        <!-- Copyright-->\n        <div class=\"footer-copyright py-3 text-center\">\n            <div class=\"container-fluid\">\n                © 2018 Copyright: <a href=\"https://mdbootstrap.com/bootstrap-tutorial/\" target=\"_blank\"> --- </a>\n            </div>\n        </div>\n        <!--/.Copyright -->\n\n    </footer>\n    <!--/.Footer-->\n\n\n    <!-- SCRIPTS -->\n\n    <!-- JQuery -->\n    <script type=\"text/javascript\" src=\"js/jquery-3.2.1.min.js\"></script>\n\n    <!-- Bootstrap tooltips -->\n    <script type=\"text/javascript\" src=\"js/popper.min.js\"></script>\n\n    <!-- Bootstrap core JavaScript -->\n    <script type=\"text/javascript\" src=\"js/bootstrap.min.js\"></script>\n\n    <!-- MDB core JavaScript -->\n    <script type=\"text/javascript\" src=\"js/mdb.min.js\"></script>\n\n    <script>\n        //Animation init\n        new WOW().init();\n\n        //Modal\n        $('#myModal').on('shown.bs.modal', function () {\n            $('#myInput').focus()\n        })\n\n        // Material Select Initialization\n        $(document).ready(function () {\n            $('.mdb-select').material_select();\n        });\n    </script>\n\n</body>\n\n</html>",
        "output": "str",
        "x": 326,
        "y": 231,
        "wires": [
            [
                "9f9952bd.8fb1c"
            ]
        ]
    },
    {
        "id": "a9da05a6.3cf39",
        "type": "http in",
        "z": "31c525f6.432eca",
        "name": "",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 62,
        "y": 68,
        "wires": [
            [
                "1607016d.7c64ef"
            ]
        ]
    },
    {
        "id": "9f9952bd.8fb1c",
        "type": "http response",
        "z": "31c525f6.432eca",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 413,
        "y": 57,
        "wires": []
    },
    {
        "id": "1607016d.7c64ef",
        "type": "change",
        "z": "31c525f6.432eca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Construa, gerencie e evolua o seu chatbot em um só lugar ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 144,
        "y": 155,
        "wires": [
            [
                "e737c54f.f6d608"
            ]
        ]
    }
]